.cm-panels.cm-panels-top {
    @apply fixed mr-4 ml-auto w-fit rounded-bl-sm border-none;
}

.cm-completionIcon {
    opacity: 1 !important;
    width: 1rem !important;
    height: 1rem !important;
}
