@import "tailwindcss";
@import "./jetbrains-mono.css";
@import "./codemirror.css";

@import "./dark.css";
@import "./light.css";

@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: "JetBrains Mono", monospace;
}

@utility scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
